extends layout

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${spot.photo || 'spot.png'}`)
      h2.title.title--single
        a(href=`/spot/${spot.slug}`) #{spot.name}

  .single__details.inner
    img.single__map(src=h.staticMap(spot.location.coordinates))
    p.single__location= spot.location.address
    p= spot.description

    if spot.tags
      ul.tags
        each tag in spot.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text  ##{tag}

