mixin spotForm(spot = {})
  form(action=`/add/${spot.id || ''}` method='POST' class='card' enctype='multipart/form-data')
    label(for='name') Name
    input(type='text' name='name' value=spot.name)
    label(for='description') Description
    textarea(name='description')= spot.description
    label(for='photo') Photo
      input(type='file' name='photo' id='photo' accept='image/png, image/gif, image/jpeg')
      if spot.photo
        img(src=`/uploads/${spot.photo}`, alt=spot.name width=200)
    label(for='address') Address
    input(type='text' id='address' name='location[address]' value=(spot.location && spot.location.address))
    label(for='lng') Address Lng
    input(type='text' id='lng' name='location[coordinates][0]' value=(spot.location && spot.location.coordinates[0]))
    label(for='lat') Address Lat
    input(type='text' id='lat' name='location[coordinates][1]' value=(spot.location && spot.location.coordinates[1]))
    - const choices = ['Touristy', 'Open Late', 'Family Friendly', 'Shops nearby', 'Calm', 'Accesible']
    - const tags = spot.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type='checkbox' id=choice value=choice name='tags' checked=(tags.includes(choice)))
          label(for='choice')= choice

    input(type='submit' value='Save ->' class='button')

